<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>devtool</title>
  <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.14.2/jquery-ui.min.js" integrity="sha256-mblSWfbYzaq/f+4akyMhE6XELCou4jbkgPv+JQPER2M=" crossorigin="anonymous"></script>
  <script src="/js/fn.js"></script>
  <script src="/js/fn.layout.js"></script>
  <script src="/js/devtool.js"></script>
</head>
<body>
  
</body>
</html>